body{
  background-image: linear-gradient(#484848, darkblue);
  min-height: 600px;
  color: white;
  position: center;
  font-style: italic;
  text-align: center;
}
caption{
  font-size: 20px;
}

h1{
  padding: 40px;
  margin: 20px;
  background-color: #778899;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 275px;
  border: 0.02em solid white;
}
table{
  border:0.05em solid white;
}
tr{
  border:0.1em solid white;
}
td{
  border:0.05em solid white;
}
.schedule tr, th{
font-weight: bold;
font-size: 25px;
background-color: #264348;
border: 0.05em solid white;
}
footer{
  width:500px;
  height: 50px;
  font-style: serif;
  text-align: center;
  padding-top: 50px;
}
